* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #000;
}

.main {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

/* LEFT */
.left {
    max-width: 520px;
}

.logo {
    width: 50px;
    margin-bottom: 20px;
    margin-left: -40px;   

}


.left h1 {
    font-size: 36px;
    font-weight: normal;
    line-height: 1.3;
}

.orange {
    color: #ff5a00;
}

.pink {
    color: #e0007a;
}

.images {
    margin-top: 40px;
    display: flex;
    gap: 15px;
}

.img-card {
    width: 130px;
    height: 190px;
    border-radius: 22px;
    background: linear-gradient(135deg, #f58529, #dd2a7b, #8134af);
    opacity: 0.85;
}

.img-card.center {
    transform: scale(1.1);
    opacity: 1;
}

/* RIGHT */
.right {
    width: 360px;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
}

.right h2 {
    margin-bottom: 20px;
}

.right input {
    width: 100%;
    padding: 14px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
}

.login-btn {
    width: 100%;
    padding: 14px;
    background: #9ec5f8;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.forgot {
    display: block;
    margin: 15px 0;
    color: black;
    text-decoration: none;
}

.divider {
    height: 1px;
    background: #dbdbdb;
    margin: 20px 0;
}

.fb-btn,
.signup-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 20px;
    background: white;
    cursor: pointer;
}

.fb-btn {
    border: 1px solid #dbdbdb;
}

.signup-btn {
    border: 1px solid #0095f6;
    color: #0095f6;
}

.meta {
    margin-top: 20px;
    color: #666;
}

.insta-footer {
    padding: 20px 40px;
    font-size: 12px;
    color: #737373;
    text-align: center;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 14px;
    margin-bottom: 12px;
}

.footer-links a {
    text-decoration: none;
    color: #737373;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.insta-photo {
    width: 420px;
    max-width: 100%;
    border-radius: 24px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
